<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-unit__radio_button">
  <label><%= f.radio_button field.attribute, true %> Applicable</label>
  <label><%= f.radio_button field.attribute, false %> Not Applicable</label>
</div>
