.DS_Store

/.bundle
/.byebug_history
/.env
/config/database.yml
/data
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/node_modules
/tmp/*
!/tmp/.keep
/spec/examples.txt
/yarn-error.log
/vendor/bundle
