---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07a18db88d739ac0a5e3afae7b1f227c"
    body:
      encoding: UTF-8
      string: '{"type":"delivery-organisation","natural_key":"03","name":"Driver and
        Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5,"department":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}}'
  recorded_at: Tue, 26 Sep 2017 13:38:41 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"43589bf6b1264fdd6c0bc983d77e0189"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metrics":[{"type":"calls-received","completeness":{"total":{"actual":1,"expected":60},"perform-transaction":{"actual":1,"expected":60}},"total":1000043,"perform_transaction":1000043,"sampled":false,"sampled_total":1000043},{"type":"transactions-received","completeness":{"online":{"actual":5,"expected":60},"phone":{"actual":4,"expected":60},"face-to-face":{"actual":1,"expected":60},"paper":{"actual":3,"expected":60}},"total":70123862,"online":45143108,"phone":7123719,"paper":17857035},{"type":"transactions-with-outcome","completeness":{"any":{"actual":5,"expected":60},"intended":{"actual":5,"expected":60}},"total":70842643,"with_intended_outcome":58650122}],"metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"03","name":"Driver
        and Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5,"department":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}},"metrics":[{"type":"calls-received","completeness":{"total":{"actual":1,"expected":60},"perform-transaction":{"actual":1,"expected":60}},"total":1000043,"perform_transaction":1000043,"sampled":false,"sampled_total":1000043},{"type":"transactions-received","completeness":{"online":{"actual":5,"expected":60},"phone":{"actual":4,"expected":60},"face-to-face":{"actual":1,"expected":60},"paper":{"actual":3,"expected":60}},"total":70123862,"online":45143108,"phone":7123719,"paper":17857035},{"type":"transactions-with-outcome","completeness":{"any":{"actual":5,"expected":60},"intended":{"actual":5,"expected":60}},"total":70842643,"with_intended_outcome":58650122}]}]}'
  recorded_at: Tue, 26 Sep 2017 13:38:41 GMT
recorded_with: VCR 3.0.3
