---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e3bb258c7b6949364bd25e33c0dbd22e"
    body:
      encoding: UTF-8
      string: '{"type":"delivery-organisation","natural_key":"02","name":"NHS Blood
        and Transplant","website":"http://example.com/nhs-blood-and-transplant","services_count":3,"department":{"type":"department","natural_key":"D0003","name":"Department
        of Health","website":"http://example.com/department-of-health","delivery_organisations_count":2,"services_count":4}}'
  recorded_at: Tue, 26 Sep 2017 13:38:40 GMT
recorded_with: VCR 3.0.3
