---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/delivery_organisations/02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a9c14a63c350417ef2b61f6eef1e93b"
    body:
      encoding: UTF-8
      string: '{"natural_key":"02","name":"NHS Blood and Transplant","hostname":"nhs-blood-and-transplant","services_count":3}'
  recorded_at: Mon, 19 Jun 2017 15:20:30 GMT
recorded_with: VCR 3.0.3
