---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07a18db88d739ac0a5e3afae7b1f227c"
    body:
      encoding: UTF-8
      string: '{"type":"delivery-organisation","natural_key":"03","name":"Driver and
        Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5,"department":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}}'
  recorded_at: Fri, 25 Aug 2017 14:09:11 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"09e7e06bfab9f2a93aa011026b2b839f"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metrics":[{"type":"calls-received","total":null,"get_information":null,"chase_progress":null,"challenge_a_decision":null,"other":null,"sampled":false,"sampled_total":null},{"type":"transactions-received","total":70123862,"online":45143108,"phone":7123719,"paper":17857035,"face_to_face":null,"other":null},{"type":"transactions-with-outcome","total":70842643,"with_intended_outcome":58650122}],"metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"03","name":"Driver
        and Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5,"department":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}},"metrics":[{"type":"calls-received","total":null,"get_information":null,"chase_progress":null,"challenge_a_decision":null,"other":null,"sampled":false,"sampled_total":null},{"type":"transactions-received","total":70123862,"online":45143108,"phone":7123719,"paper":17857035,"face_to_face":null,"other":null},{"type":"transactions-with-outcome","total":70842643,"with_intended_outcome":58650122}]}]}'
  recorded_at: Fri, 25 Aug 2017 14:09:11 GMT
recorded_with: VCR 3.0.3
