---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c39c69be0a7b430fca11b2977b2508ae"
    body:
      encoding: UTF-8
      string: '{"type":"delivery-organisation","natural_key":"03","name":"Driver and
        Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5}'
  recorded_at: Wed, 02 Aug 2017 13:25:53 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/delivery_organisations/03/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ccf2cb7a2831cdfbc77037dff1a45d8b"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metrics":[{"type":"calls-received","total":0,"get_information":0,"chase_progress":0,"challenge_a_decision":0,"other":0,"sampled":false,"sampled_total":0},{"type":"transactions-received","total":70123862,"online":45143108,"phone":7123719,"paper":17857035,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":70842643,"with_intended_outcome":58650122}],"metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"03","name":"Driver
        and Vehicle Licensing Agency","website":"http://example.com/driver-and-vehicle-licensing-agency","services_count":5},"metrics":[{"type":"calls-received","total":0,"get_information":0,"chase_progress":0,"challenge_a_decision":0,"other":0,"sampled":false,"sampled_total":0},{"type":"transactions-received","total":70123862,"online":45143108,"phone":7123719,"paper":17857035,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":70842643,"with_intended_outcome":58650122}]}]}'
  recorded_at: Wed, 02 Aug 2017 13:25:53 GMT
recorded_with: VCR 3.0.3
