---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/delivery_organisations/02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"25fc838730876023778aeff430787c49"
    body:
      encoding: UTF-8
      string: '{"type":"delivery-organisation","natural_key":"02","name":"NHS Blood
        and Transplant","hostname":"nhs-blood-and-transplant","services_count":3}'
  recorded_at: Fri, 23 Jun 2017 15:16:22 GMT
recorded_with: VCR 3.0.3
