---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4edc2abf7cdaf225a07fdcc10799aa88"
    body:
      encoding: UTF-8
      string: '{"type":"department","natural_key":"D0002","name":"Department for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}'
  recorded_at: Tue, 26 Sep 2017 13:38:41 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002/metrics?group_by=department
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ffa2e4f77bb8e06ede38e7a011241b60"
    body:
      encoding: UTF-8
      string: '{"group_by":"department","metrics":[{"type":"calls-received","completeness":{"total":{"actual":1,"expected":108},"perform-transaction":{"actual":1,"expected":108}},"total":1000043,"perform_transaction":1000043,"sampled":false,"sampled_total":1000043},{"type":"transactions-received","completeness":{"online":{"actual":9,"expected":108},"phone":{"actual":7,"expected":108},"other":{"actual":1,"expected":108},"face-to-face":{"actual":1,"expected":108},"paper":{"actual":3,"expected":108}},"total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"other":19987654},{"type":"transactions-with-outcome","completeness":{"any":{"actual":9,"expected":108},"intended":{"actual":9,"expected":108}},"total":114587788,"with_intended_outcome":92321116}],"metric_groups":[{"entity":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"calls-received","completeness":{"total":{"actual":1,"expected":108},"perform-transaction":{"actual":1,"expected":108}},"total":1000043,"perform_transaction":1000043,"sampled":false,"sampled_total":1000043},{"type":"transactions-received","completeness":{"online":{"actual":9,"expected":108},"phone":{"actual":7,"expected":108},"other":{"actual":1,"expected":108},"face-to-face":{"actual":1,"expected":108},"paper":{"actual":3,"expected":108}},"total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"other":19987654},{"type":"transactions-with-outcome","completeness":{"any":{"actual":9,"expected":108},"intended":{"actual":9,"expected":108}},"total":114587788,"with_intended_outcome":92321116}]}]}'
  recorded_at: Tue, 26 Sep 2017 13:38:41 GMT
recorded_with: VCR 3.0.3
