---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4edc2abf7cdaf225a07fdcc10799aa88"
    body:
      encoding: UTF-8
      string: '{"type":"department","natural_key":"D0002","name":"Department for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}'
  recorded_at: Wed, 02 Aug 2017 13:25:52 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002/metrics?group_by=department
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4260a4e8d6a6d13e5b854fe0187622c6"
    body:
      encoding: UTF-8
      string: '{"group_by":"department","metrics":[{"type":"calls-received","total":0,"get_information":0,"chase_progress":0,"challenge_a_decision":0,"other":0,"sampled":false,"sampled_total":0},{"type":"transactions-received","total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":114587788,"with_intended_outcome":92321116}],"metric_groups":[{"entity":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"calls-received","total":0,"get_information":0,"chase_progress":0,"challenge_a_decision":0,"other":0,"sampled":false,"sampled_total":0},{"type":"transactions-received","total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":114587788,"with_intended_outcome":92321116}]}]}'
  recorded_at: Wed, 02 Aug 2017 13:25:52 GMT
recorded_with: VCR 3.0.3
