---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8aae45b8f4d1c4331d5957888dec8a82"
    body:
      encoding: UTF-8
      string: '{"department":{"natural_key":"D0002","name":"Department for Transport","hostname":"department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"transactions-received","total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":114587788,"with_intended_outcome":92321116}]}'
  recorded_at: Mon, 19 Jun 2017 15:07:51 GMT
recorded_with: VCR 3.0.3
