---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4edc2abf7cdaf225a07fdcc10799aa88"
    body:
      encoding: UTF-8
      string: '{"type":"department","natural_key":"D0002","name":"Department for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9}'
  recorded_at: Mon, 11 Sep 2017 14:20:55 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/departments/D0002/metrics?group_by=department
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"986fd9a20e5e7fd48ffa4385ab3682a7"
    body:
      encoding: UTF-8
      string: '{"group_by":"department","metrics":[{"type":"calls-received","completeness":{},"sampled":false,"sampled_total":0},{"type":"transactions-received","completeness":{"online":{"actual":9,"expected":54},"phone":{"actual":7,"expected":54},"other":{"actual":1,"expected":54},"face-to-face":{"actual":1,"expected":54},"paper":{"actual":3,"expected":54}},"total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"other":19987654},{"type":"transactions-with-outcome","completeness":{"any":{"actual":9,"expected":54},"intended":{"actual":9,"expected":54}},"total":114587788,"with_intended_outcome":92321116}],"metric_groups":[{"entity":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","website":"http://example.com/department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"calls-received","completeness":{},"sampled":false,"sampled_total":0},{"type":"transactions-received","completeness":{"online":{"actual":9,"expected":54},"phone":{"actual":7,"expected":54},"other":{"actual":1,"expected":54},"face-to-face":{"actual":1,"expected":54},"paper":{"actual":3,"expected":54}},"total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"other":19987654},{"type":"transactions-with-outcome","completeness":{"any":{"actual":9,"expected":54},"intended":{"actual":9,"expected":54}},"total":114587788,"with_intended_outcome":92321116}]}]}'
  recorded_at: Mon, 11 Sep 2017 14:20:55 GMT
recorded_with: VCR 3.0.3
