---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9416cb3e34dd7abcadd9b8fe0e96fba4"
    body:
      encoding: UTF-8
      string: '{"type":"department","natural_key":"D0002","name":"Department for Transport","hostname":"department-for-transport","delivery_organisations_count":2,"services_count":9}'
  recorded_at: Fri, 23 Jun 2017 14:59:30 GMT
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/departments/D0002/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"569c968213a8be573076cdf440695b97"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"03","name":"Driver
        and Vehicle Licensing Agency","hostname":"driver-and-vehicle-licensing-agency","services_count":5},"metrics":[{"type":"transactions-received","total":70123862,"online":45143108,"phone":7123719,"paper":17857035,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":70842643,"with_intended_outcome":58650122}]},{"entity":{"type":"delivery-organisation","natural_key":"04","name":"Driver
        and Vehicle Standards Agency","hostname":"driver-and-vehicle-standards-agency","services_count":4},"metrics":[{"type":"transactions-received","total":48555649,"online":25567940,"phone":3000055,"paper":0,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":43745145,"with_intended_outcome":33670994}]}]}'
  recorded_at: Fri, 23 Jun 2017 14:59:30 GMT
recorded_with: VCR 3.0.3
