---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/departments/D0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9416cb3e34dd7abcadd9b8fe0e96fba4"
    body:
      encoding: UTF-8
      string: '{"type":"department","natural_key":"D0002","name":"Department for Transport","hostname":"department-for-transport","delivery_organisations_count":2,"services_count":9}'
  recorded_at: Thu, 22 Jun 2017 10:35:49 GMT
recorded_with: VCR 3.0.3
