---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8707143287988501f058572a4a858fbd"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31}'
  recorded_at: Mon, 11 Sep 2017 14:20:54 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government/metrics?group_by=government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5de909c002d241afe0e7956aa8992e0f"
    body:
      encoding: UTF-8
      string: '{"group_by":"government","metrics":[{"type":"calls-received","completeness":{},"sampled":false,"sampled_total":0},{"type":"transactions-received","completeness":{"online":{"actual":25,"expected":186},"paper":{"actual":8,"expected":186},"phone":{"actual":17,"expected":186},"face-to-face":{"actual":4,"expected":186},"other":{"actual":2,"expected":186}},"total":746067381,"online":648825681,"phone":38355269,"paper":35775321,"other":23111110},{"type":"transactions-with-outcome","completeness":{"any":{"actual":25,"expected":186},"intended":{"actual":25,"expected":186}},"total":710427383,"with_intended_outcome":604814744}],"metric_groups":[{"entity":{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31},"metrics":[{"type":"calls-received","completeness":{},"sampled":false,"sampled_total":0},{"type":"transactions-received","completeness":{"online":{"actual":25,"expected":186},"paper":{"actual":8,"expected":186},"phone":{"actual":17,"expected":186},"face-to-face":{"actual":4,"expected":186},"other":{"actual":2,"expected":186}},"total":746067381,"online":648825681,"phone":38355269,"paper":35775321,"other":23111110},{"type":"transactions-with-outcome","completeness":{"any":{"actual":25,"expected":186},"intended":{"actual":25,"expected":186}},"total":710427383,"with_intended_outcome":604814744}]}]}'
  recorded_at: Mon, 11 Sep 2017 14:20:54 GMT
recorded_with: VCR 3.0.3
