---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8707143287988501f058572a4a858fbd"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31}'
  recorded_at: Fri, 23 Jun 2017 14:59:30 GMT
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/government/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e77dbc8e3fdfa01ee56f91631d0be4f"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"01","name":"Environment
        Agency","hostname":"environment-agency","services_count":1},"metrics":[{"type":"transactions-received","total":3000039,"online":1000032,"phone":1000003,"paper":1000004,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":2435098,"with_intended_outcome":2400000}]},{"entity":{"type":"delivery-organisation","natural_key":"02","name":"NHS
        Blood and Transplant","hostname":"nhs-blood-and-transplant","services_count":3},"metrics":[{"type":"transactions-received","total":7123688,"online":3000047,"phone":4123641,"paper":0,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":7269475,"with_intended_outcome":5815050}]},{"entity":{"type":"delivery-organisation","natural_key":"03","name":"Driver
        and Vehicle Licensing Agenc[...]
