---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/api/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1573ce8dc84be16039f307e17d32e910"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":15,"services_count":34}'
  recorded_at: Mon, 06 Nov 2017 17:41:47 GMT
- request:
    method: get
    uri: http://gsd-api.dev/api/v1/data/government/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"de42dcf185e8d2fb5355f7a380e2295c"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metrics":[{"type":"calls-received","completeness":{"total":{"actual":106,"expected":408},"get-information":{"actual":44,"expected":408},"chase-progress":{"actual":26,"expected":408},"challenge-a-decision":{"actual":26,"expected":408},"perform-transaction":{"actual":80,"expected":408},"other":{"actual":43,"expected":408}},"total":1771419,"get_information":81518,"chase_progress":326,"perform_transaction":642708,"challenge_a_decision":280,"other":51397,"sampled":false,"sampled_total":1771419},{"type":"transactions-received","completeness":{"online":{"actual":188,"expected":408},"phone":{"actual":86,"expected":408},"paper":{"actual":124,"expected":408},"face-to-face":{"actual":61,"expected":408},"other":{"actual":68,"expected":408}},"total":26592298,"online":24174736,"phone":642708,"paper":1475717,"other":299137},{"type":"transactions-with-outcome","completeness":{"any":{"actual":171,"expected":408},"intended":{"actual":152,"expected":408}},"total":24724920,"with_intended_outcome":22528488}],"metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"EA26","name":"Companies
        House","website":"https://www.gov.uk/government/organisations/companies-house","services_count":2,"department":{"type":"department","natural_key":"D1198","name":"Department
        for Business, Energy \u0026 Industrial Strategy","website":"https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy","delivery_organisations_count":2,"services_count":4}},"metrics":[{"type":"calls-received","completeness":{},"sampled":false,"sampled_total":0},{"type":"transactions-received","completeness":{"online":{"actual":16,"expected":24},"paper":{"actual":16,"expected":24}},"tota[...]
