---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8707143287988501f058572a4a858fbd"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31}'
  recorded_at: Tue, 26 Sep 2017 13:38:41 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government/metrics?group_by=delivery_organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f73b3b1f450c5130add86802facb3f80"
    body:
      encoding: UTF-8
      string: '{"group_by":"delivery_organisation","metrics":[{"type":"calls-received","completeness":{"total":{"actual":2,"expected":372},"perform-transaction":{"actual":2,"expected":372}},"total":2000046,"perform_transaction":2000046,"sampled":false,"sampled_total":2000046},{"type":"transactions-received","completeness":{"online":{"actual":25,"expected":372},"paper":{"actual":8,"expected":372},"phone":{"actual":17,"expected":372},"face-to-face":{"actual":4,"expected":372},"other":{"actual":2,"expected":372}},"total":746067381,"online":648825681,"phone":38355269,"paper":35775321,"other":23111110},{"type":"transactions-with-outcome","completeness":{"any":{"actual":25,"expected":372},"intended":{"actual":25,"expected":372}},"total":710427383,"with_intended_outcome":604814744}],"metric_groups":[{"entity":{"type":"delivery-organisation","natural_key":"01","name":"Environment
        Agency","website":"http://example.com/environment-agency","services_count":1,"department":{"type":"department","natural_key":"D0001","name":"Department
        for Environment Food \u0026 Rural Affairs","website":"http://example.com/department-for-environment-food-and-rural-affairs","delivery_organisations_count":1,"services_count":1}},"metrics":[{"type":"calls-received","completeness":{"total":{"actual":1,"expected":12},"perform-transaction":{"actual":1,"expected":12}},"total":1000003,"perform_transaction":1000003,"sampled":false,"sampled_total":1000003},{"type":"transactions-receiv[...]
