---
http_interactions:
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      link:
      - <?page-index=2&page-size=1>; rel="next"
      x-vcap-request-id:
      - 02d57617-6fd6-4842-6b5e-493d8bf6c593
    body:
      encoding: ASCII-8BIT
      string: '{"OT488":{"index-entry-number":"984","entry-number":"984","entry-timestamp":"2017-10-23T15:20:04Z","key":"OT488","item":[{"website":"https://www.gov.uk/government/organisations/nhs-litigation-authority","name":"NHS
        Resolution","government-organisation":"OT488"}]}}'
  recorded_at: Mon, 27 Nov 2017 11:16:44 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=2&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      link:
      - <?page-index=3&page-size=1>; rel="next",<?page-index=1&page-size=1>; rel="previous"
      x-vcap-request-id:
      - 8a54d6ad-89a8-4cf3-463d-4faccad19960
    body:
      encoding: ASCII-8BIT
      string: '{"D5":{"index-entry-number":"983","entry-number":"983","entry-timestamp":"2017-07-13T13:57:39Z","key":"D5","item":[{"website":"https://www.gov.uk/government/organisations/department-for-culture-media-sport","name":"Department
        for Digital, Culture, Media and Sport","government-organisation":"D5"}]}}'
  recorded_at: Mon, 27 Nov 2017 11:16:44 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=3&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      link:
      - <?page-index=4&page-size=1>; rel="next",<?page-index=2&page-size=1>; rel="previous"
      x-vcap-request-id:
      - 054f28be-652c-43fe-6a3e-a96bef238991
    body:
      encoding: ASCII-8BIT
      string: '{"DA1020":{"index-entry-number":"981","entry-number":"981","entry-timestamp":"2017-06-06T08:40:56Z","key":"DA1020","item":[{"website":"https://www.gov.uk/government/organisations/the-scottish-government","name":"Scottish
        Government","government-organisation":"DA1020"}]}}'
  recorded_at: Mon, 27 Nov 2017 11:16:44 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=4&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      link:
      - <?page-index=5&page-size=1>; rel="next",<?page-index=3&page-size=1>; rel="previous"
      x-vcap-request-id:
      - 169fd3e6-dbac-41f9-6d99-ddd94360bcb7
    body:
      encoding: ASCII-8BIT
      string: '{"PB1218":{"index-entry-number":"980","entry-number":"980","entry-timestamp":"2017-04-25T12:59:14Z","key":"PB1218","item":[{"website":"https://www.gov.uk/government/organisations/regulator-of-social-housing","name":"Regulator
        of Social Housing","government-organisation":"PB1218"}]}}'
  recorded_at: Mon, 27 Nov 2017 11:16:44 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=5&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      link:
      - <?page-index=6&page-size=1>; rel="next",<?page-index=4&page-size=1>; rel="previous"
      x-vcap-request-id:
      - c921f4e5-a5fa-4a81-7b4c-5d1fb4b2d822
    body:
      encoding: ASCII-8BIT
      string: '{"EO1216":{"index-entry-number":"979","entry-number":"979","entry-timestamp":"2017-04-25T12:59:14Z","key":"EO1216","item":[{"website":"https://www.gov.uk/government/organisations/education-and-skills-funding-agency","name":"Education
        and Skills Funding Agency","government-organisation":"EO1216"}]}}'
  recorded_at: Mon, 27 Nov 2017 11:16:44 GMT
recorded_with: VCR 3.0.3
