---
http_interactions:
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline; filename="government-organisation-records.json"
      link:
      - <?page-index=2&page-size=1>; rel="next"
    body:
      encoding: ASCII-8BIT
      string: '{"D5":{"index-entry-number":"983","entry-number":"983","entry-timestamp":"2017-07-13T13:57:39Z","key":"D5","item":[{"website":"https://www.gov.uk/government/organisations/department-for-culture-media-sport","name":"Department
        for Digital, Culture, Media and Sport","government-organisation":"D5"}]}}'
  recorded_at: Wed, 26 Jul 2017 13:02:06 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=2&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline; filename="government-organisation-records.json"
      link:
      - <?page-index=3&page-size=1>; rel="next",<?page-index=1&page-size=1>; rel="previous"
    body:
      encoding: ASCII-8BIT
      string: '{"DA1020":{"index-entry-number":"981","entry-number":"981","entry-timestamp":"2017-06-06T08:40:56Z","key":"DA1020","item":[{"website":"https://www.gov.uk/government/organisations/the-scottish-government","name":"Scottish
        Government","government-organisation":"DA1020"}]}}'
  recorded_at: Wed, 26 Jul 2017 13:02:07 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=3&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline; filename="government-organisation-records.json"
      link:
      - <?page-index=4&page-size=1>; rel="next",<?page-index=2&page-size=1>; rel="previous"
    body:
      encoding: ASCII-8BIT
      string: '{"PB1218":{"index-entry-number":"980","entry-number":"980","entry-timestamp":"2017-04-25T12:59:14Z","key":"PB1218","item":[{"website":"https://www.gov.uk/government/organisations/regulator-of-social-housing","name":"Regulator
        of Social Housing","government-organisation":"PB1218"}]}}'
  recorded_at: Wed, 26 Jul 2017 13:02:07 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=4&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline; filename="government-organisation-records.json"
      link:
      - <?page-index=5&page-size=1>; rel="next",<?page-index=3&page-size=1>; rel="previous"
    body:
      encoding: ASCII-8BIT
      string: '{"EO1216":{"index-entry-number":"979","entry-number":"979","entry-timestamp":"2017-04-25T12:59:14Z","key":"EO1216","item":[{"website":"https://www.gov.uk/government/organisations/education-and-skills-funding-agency","name":"Education
        and Skills Funding Agency","government-organisation":"EO1216"}]}}'
  recorded_at: Wed, 26 Jul 2017 13:02:07 GMT
- request:
    method: get
    uri: https://government-organisation.register.gov.uk/records.json?page-index=5&page-size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline; filename="government-organisation-records.json"
      link:
      - <?page-index=6&page-size=1>; rel="next",<?page-index=4&page-size=1>; rel="previous"
    body:
      encoding: ASCII-8BIT
      string: '{"OT1215":{"index-entry-number":"978","entry-number":"978","entry-timestamp":"2017-04-25T12:59:14Z","key":"OT1215","item":[{"website":"https://www.gov.uk/government/organisations/judicial-office","name":"Judicial
        Office","government-organisation":"OT1215"}]}}'
  recorded_at: Wed, 26 Jul 2017 13:02:07 GMT
recorded_with: VCR 3.0.3
