---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/departments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3b150ccb898e995122aaed97ef0ff91b"
    body:
      encoding: UTF-8
      string: '[{"department":{"natural_key":"D0001","name":"Department for Environment
        Food \u0026 Rural Affairs","hostname":"department-for-environment-food-and-rural-affairs","delivery_organisations_count":1,"services_count":1},"metrics":[{"type":"transactions-received","total":3000039,"online":1000032,"phone":1000003,"paper":1000004,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":2435098,"with_intended_outcome":2400000}]},{"department":{"natural_key":"D0002","name":"Department
        for Transport","hostname":"department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"transactions-received","total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":114587788,"with_intended_outcome":92321116}]},{"department":{"natural_key":"D0003","name":"Department
        of Health","hostn[...]
