---
http_interactions:
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8707143287988501f058572a4a858fbd"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31}'
  recorded_at: Fri, 25 Aug 2017 14:09:15 GMT
- request:
    method: get
    uri: http://gsd-api.dev/v1/data/government/metrics?group_by=department
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b949b698169094c65e095fd890aaca8d"
    body:
      encoding: UTF-8
      string: '{"group_by":"department","metrics":[{"type":"calls-received","total":null,"get_information":null,"chase_progress":null,"challenge_a_decision":null,"other":null,"sampled":false,"sampled_total":null},{"type":"transactions-received","total":746067381,"online":648825681,"phone":38355269,"paper":35775321,"face_to_face":null,"other":23111110},{"type":"transactions-with-outcome","total":710427383,"with_intended_outcome":604814744}],"metric_groups":[{"entity":{"type":"department","natural_key":"D0001","name":"Department
        for Environment Food \u0026 Rural Affairs","website":"http://example.com/department-for-environment-food-and-rural-affairs","delivery_organisations_count":1,"services_count":1},"metrics":[{"type":"calls-received","total":null,"get_information":null,"chase_progress":null,"challenge_a_decision":null,"other":null,"sampled":false,"sampled_total":null},{"type":"transactions-received","total":3000039,"online":1000032,"phone":1000003,"paper":1000004,"face_to_face":null,"other":null},{"type":"transactions-with-outcome","total":2435098,"with_intended_outco[...]
[...]
