---
http_interactions:
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/government
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8707143287988501f058572a4a858fbd"
    body:
      encoding: UTF-8
      string: '{"type":"government","departments_count":7,"delivery_organisations_count":8,"services_count":31}'
  recorded_at: Tue, 27 Jun 2017 15:23:14 GMT
- request:
    method: get
    uri: http://cgsd-api-rails.dev/v1/data/government/metrics?group_by=department
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a7ef738adddffceed6651e49a5654be6"
    body:
      encoding: UTF-8
      string: '{"group_by":"department","metric_groups":[{"entity":{"type":"department","natural_key":"D0001","name":"Department
        for Environment Food \u0026 Rural Affairs","hostname":"department-for-environment-food-and-rural-affairs","delivery_organisations_count":1,"services_count":1},"metrics":[{"type":"transactions-received","total":3000039,"online":1000032,"phone":1000003,"paper":1000004,"face_to_face":0,"other":0},{"type":"transactions-with-outcome","total":2435098,"with_intended_outcome":2400000}]},{"entity":{"type":"department","natural_key":"D0002","name":"Department
        for Transport","hostname":"department-for-transport","delivery_organisations_count":2,"services_count":9},"metrics":[{"type":"transactions-received","total":118679511,"online":70711048,"phone":10123774,"paper":17857035,"face_to_face":0,"other":19987654},{"type":"transactions-with-outcome","total":114587788,"with_intended_outcome":92321116}]},{"entity":{"type":"department","natural_key":"D0003","name":"Depa[...]
[...]
