<div class="column-one-quarter">
  <h3 class="data">
    <span class="data-item bold-large">7.2m</span>
    <span class="data-item bold-xsmall">calls received</span>
  </h3>
  <p class="font-xsmall metric-guidance">
    The total number of calls to the service. These calls should be categorised into one of four groups based on the thing that triggered the user to contact the service via the phone.
  </p>
  <ul class="list font-xsmall">
    <li>
      <span class="metric-name">
        <strong>40%</strong> to get information
      </span>
      <p class="font-xsmall metric-guidance">
        Calls to get advice or guidance about the service.
      </p>
    </li>
    <li>
      <span class="metric-name">
        <strong>25%</strong> to chase progress
      </span>
      <p class="font-xsmall metric-guidance">
        Calls to find out about a decision or action that the user expects the service to take.
      </p>
    </li>
    <li>
      <span class="metric-name">
        <strong>20%</strong> to challenge a decision
      </span>
      <p class="font-xsmall metric-guidance">
        Calls to dispute an instruction or request from the service or to appeal an outcome.
      </p>
    </li>
    <li>
      <span class="metric-name">
        <strong>15%</strong> other
      </span>
      <p class="font-xsmall metric-guidance">
        Calls that don’t fit into the three previous categories.
      </p>
    </li>
    <li class="secondary-text-colour">Based on sample of 10,000 calls</li>
  </ul>
</div>
