<div class="metric metric-transactions-with-outcome">
  <ul class="list">
    <li class="headline">
      <span class="total">
        <span class="bold-large">665m</span>
        <span class="data-item bold">calls received</span>
      </span>

      <span class="sampled">
        <span class="data-item bold-large">5k</span>
        <span class="data-item bold">calls sample size</span>
      </span>
    </li>
    <li class="sampled">
      <span class="metric-name">To get information</span>
      <span class="metric-value">
        <span class="metric-value-count">339m</span>
        <span class="metric-value-percentage">(60%)</span>
      </span>
    </li>
    <li class="sampled">
      <span class="metric-name">To chase progress</span>
      <span class="metric-value">
        <span class="metric-value-count">133m</span>
        <span class="metric-value-percentage">(20%)</span>
      </span>
    </li>
    <li class="sampled">
      <span class="metric-name">To challenge a decision</span>
      <span class="metric-value">
        <span class="metric-value-count">39.9m</span>
        <span class="metric-value-percentage">(10%)</span>
      </span>
    </li>
    <li class="sampled">
      <span class="metric-name">Other</span>
      <span class="metric-value">
        <span class="metric-value-count">39.9m</span>
        <span class="metric-value-percentage">(10%)</span>
      </span>
    </li>
  </ul>
</div>
