<div class="m-metric">
  <ul class="list">
    <div class="m-metric-headline">
      <div class="not-applicable">N/A</div>
      <span class="not-applicable-message"><%= non_applicable_metric.message %></span>
    </div>
  </ul>
</div>
