<div class="m-metric">
    <div class="not-applicable">Not applicable</div>
    <span class="not-applicable-message">doesn't process transactions</span>
    <div data-metric-item-description=" "></div>
</div>
