<div class="m-metric">
    <div class="not-applicable">N/A</div>
    <span class="not-applicable-message">doesn't process transactions</span>
    <div data-metric-item-identifier="no-description" data-metric-item-description=" "></div>
</div>
