<div class="m-metric">
  <div class="not-applicable">Not provided</div>
  <span class="not-applicable-message">calls received</span>
  <div data-metric-item-identifier="no-description" data-metric-item-description=" "></div>
</div>
