<div class="m-time-period-selector">
  Data for time period from <time datetime="2016-01-01">1 Jan 2016</time> to <time datetime="2016-12-31">31 Dec 2016</time>
  <span><a href="#">Change dates</a></span>
</div>
