<div class="metric metric-transactions-with-outcome">
  <ul class="list">
    <li class="headline">
      <span class="data-item bold-large"><%= metric_to_human(transactions_with_outcome_metric.count) %></span>
      <span class="data-item bold">transactions ending in an outcome</span>
    </li>
    <li>
      <span class="metric-name">Ending in the user&apos;s intended outcome</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_with_outcome_metric.count_with_intended_outcome) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_with_outcome_metric.with_intended_outcome_percentage) %>)</span>
      </span>
    </li>
  </ul>
</div>
