<h2 class="bold-medium"><%= link_to metric_group.name, department_metrics_path(metric_group.entity.key, group_by: Metrics::Group::DeliveryOrganisation) %></h2>
oversees <%= pluralize_link(metric_group.delivery_organisations_count, 'delivery organisation', 'delivery organisations', department_metrics_path(metric_group.entity.key, group_by: Metrics::Group::DeliveryOrganisation)) %> and <%= pluralize_link(metric_group.services_count, 'services', 'services', department_metrics_path(metric_group.entity.key, group_by: Metrics::Group::Service)) %>
