<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Phone calls received</h1>
    <p>
      These numbers tell you how much call centres were used, and why.
    </p>
    <p>
      If the total number of calls is higher than the number of transactions, that’s an indication that effort is high compared to output.
    </p>
    <p>
      If the proportion of users calling to chase progress is high, this might mean that the organisation isn’t processing transactions as quickly as they should. A high proportion of calls to get more information could indicate that information available online is incomplete or unclear.
    </p>
  </div>
</div>
