<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Transactions received</h1>
    <p>
      These numbers tell you how much the organisation was used, and which channels were used the most.
    </p>
    <p>
      <a href="">See a detailed description of how transactions received is defined.</a>
    </p>
  </div>
</div>
