<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">Chart</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      Chart with previous data
    </div>

    <div class="column-two-thirds">
      <%= render 'view_data/charts/chart',
            id: "one",
            current_range_label: "Sep 16 to Aug 17",
            previous_range_label: "Sep 15 to Aug 16",
            months: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
            current_data: [472, 346, 467, 472, 512, 489, 432, 452, 756, 659, 652, 684],
            previous_data: [753, 684, 596, 632, 478, 572, 459, 483, 806, 433, 649, 732],
            max_value: 800,
            label: "Transactions received by DEPT NAME, September 2016 to August 2017"
      %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      Chart <span class='font-bold'>without</span> previous data
    </div>

    <div class="column-two-thirds">
      <%= render 'view_data/charts/chart',
            id: "two",
            current_range_label: "Sep 16 to Aug 17",
            previous_range_label: "Sep 15 to Aug 16",
            months: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
            current_data: [472, 346, 467, 472, 512, 489, 432, 452, 756, 659, 652, 684],
            previous_data: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
            max_value: 800,
            label: "Transactions received by DEPT NAME, September 2016 to August 2017"
      %>
    </div>
  </div>
</main>
