<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">Chart</h1>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="chart">

      </div>

    </div>
  </div>

</main>
