<nav class="navigation" role="navigation">
  <%= link_to('Metrics', admin_metrics_path, class: "navigation__link navigation__link--#{nav_link_state('monthly_service_metrics')}") %>
  <%= link_to('Services', admin_services_path, class: "navigation__link navigation__link--#{nav_link_state('services')}") %>
  <%= link_to('Users', admin_users_path, class: "navigation__link navigation__link--#{nav_link_state('users')}") %>
</nav>
