<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">Product Page</span></a>
      </li>
    </ol>
  </nav>
  <%= breadcrumbs %>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Get data about government services</h1>
        <p class="hero__description">
          Quickly access standardised high-level data so you can:
          <ul class="list list-bullet">
            <li>get an overview of all the services delivered by government</li>
            <li>see how departments, agencies and services are related</li>
            <li>track changes in service usage and delivery</li>
          </ul>
        </p>
        <a href="#" role="button" class="hero-button">
          View data
        </a>
        <span class="hero-alternative-action">
          or <a href="#">search for something specific</a>
        </span>
      </div>
      <div class="hero__aside-image">
        <%= image_tag 'product-image.png', alt: 'Cross-Government Service Data', role: 'presentation' %>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="container">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large" id="1">Designed to give civil servants the data they need to transform government</h2>

      <p>Cross-Government Service Data is built for civil servants who work with multiple organisations across government.</p>

      <p>It provides authoritative high-level metrics along with explanatory information to give them a rounded view of each department, agency and service.</p>

      <p>It can be explored through the Cross-Government Service Data website or exported as a CSV.</p>

      <hr class="m_0">

      <h2 class="heading-large" id="2">Data available</h2>

      <p>Where appropriate data is also aggregated to the agency, department and UK government level.</p>

      <h3 class="heading-small">The purpose of the service</h3>
      <ul class="list list-bullet">
        <li>How it works</li>
        <li>Who the typical users are</li>
        <li>How frequently it's used</li>
        <li>How long it takes for a transaction to end in an outcome</li>
      </ul>

      <h3 class="heading-small">The number of transactions received by the service</h3>

      <ul class="list list-bullet">
        <li>Online</li>
        <li>Phone</li>
        <li>Paper</li>
        <li>Face-to-face</li>
      </ul>

      <h3 class="heading-small">The number of transactions ending in an outcome</h3>
      <ul class="list list-bullet">
        <li>Ending in the user's intended outcome (where available)</li>
      </ul>

      <h3 class="heading-small">The total number of calls to the service</h3>
      <ul class="list list-bullet">
        <li>To get information</li>
        <li>To chase progress</li>
        <li>To challenge a decision</li>
      </ul>

      <h3 class="heading-small">How the data was collected</h3>
      <ul class="list list-bullet">
        <li>Department and agency responsible</li>
        <li>When it was last updated</li>
      </ul>

      <hr class="m_0">

      <h2 class="heading-large" id="2">Contact the team</h2>

      <p>Cross-Government Service Data is collected by the Government Digital Service.</p>

      <p><a class="link" href="mailto:performance-platform@digital.cabinet-office.gov.uk">Contact the team</a> if you have a question or would like to provide feedback.</p>

    </div> <!-- End Two Thirds -->

  </div> <!-- End row -->


</main>
