<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish Government Service Data</h1>
        <%= link_to 'Publish data', publish_root_path, class: 'hero-button', role: 'button' %>
      </div>
      <div class="hero__aside-image">
        <%= image_tag 'product-image.png', alt: 'Government Service Data', role: 'presentation' %>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="container">
  <div class="grid-row">
    <div class="column-two-thirds">

    </div> <!-- End Two Thirds -->
  </div> <!-- End row -->
</main>
