<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish data</h1>
      </div>
      <div class="hero__aside-image">
      </div>
    </div>
  </div>
</div>

