<div class="product-overview-intro">
  <div class="wrapper">

    <div class="grid-row">
      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="https://www.gov.uk/service-toolkit#monitoring">Data</a>
            </li>
            <li class="active">
                Cross-Government Service Data
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Get data about government services</h1>

        <p class="lede">Quickly access standardised high-level data so you can:</p>

        <ul class="list list-bullet">
          <li>get an overview of all the services delivered by government</li>
          <li>see how departments, agencies and services are related</li>
          <li>track changes in service usage and delivery</li>
        </ul>

        <a class="button button-start" href="/performance-data/government" role="button">View data</a>
        <span class="font-small">&nbsp;or <a href="/performance-data/searchpage">search for something specific</a></span>

      </div>

      <div class="column-one-third product-overview-intro-image">
        <%= image_tag 'product-image.png', alt: 'Cross-Government Service Data', class: 'top-image' %>
      </div>

    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large" id="1">Designed to give civil servants the data they need to transform government</h2>

      <p>Cross-Government Service Data is built for civil servants who work with multiple organisations across government.</p>

      <p>It provides authoritative high-level metrics along with explanatory information to give them a rounded view of each department, agency and service.</p>

      <p>It can be explored through the Cross-Government Service Data website or exported as a CSV.</p>

      <hr class="m_0">

      <h2 class="heading-large" id="2">Data available</h2>

      <p>Where appropriate data is also aggregated to the agency, department and UK government level.</p>

      <h3 class="heading-small">The purpose of the service</h3>
      <ul class="list list-bullet">
        <li>How it works</li>
        <li>Who the typical users are</li>
        <li>How frequently it's used</li>
        <li>How long it takes for a transaction to end in an outcome</li>
      </ul>

      <h3 class="heading-small">The number of transactions received by the service</h3>

      <ul class="list list-bullet">
        <li>Online</li>
        <li>Phone</li>
        <li>Paper</li>
        <li>Face-to-face</li>
      </ul>

      <h3 class="heading-small">The number of transactions ending in an outcome</h3>
      <ul class="list list-bullet">
        <li>Ending in the user's intended outcome (where available)</li>
      </ul>

      <h3 class="heading-small">The total number of calls to the service</h3>
      <ul class="list list-bullet">
        <li>To get information</li>
        <li>To chase progress</li>
        <li>To challenge a decision</li>
      </ul>

      <h3 class="heading-small">How the data was collected</h3>
      <ul class="list list-bullet">
        <li>Department and agency responsible</li>
        <li>When it was last updated</li>
      </ul>

      <hr class="m_0">

      <h2 class="heading-large" id="2">Contact the team</h2>

      <p>Cross-Government Service Data is collected by the Government Digital Service.</p>

      <p><a class="link" href="mailto:performance-platform@digital.cabinet-office.gov.uk">Contact the team</a> if you have a question or would like to provide feedback.</p>

    </div> <!-- End Two Thirds -->

  </div> <!-- End row -->


</main>
