<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Using Service Performance
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        What is Service Performance?
      </h1>
      <p>Service Performance is a platform that displays performance data from transactional, public-facing services across government.</p>
        <h1 class="heading-large">
          Who is it for?
      </h1>
      <p>It's for civil servants working in service transformation at a strategic level.</p>
      <h1>
        What can I do with it?
      </h1>
      <p>You can use Service Performance to:
        <ul class="list list-bullet">
            <li>see how well services are meeting user needs</li>
            <li>find out where intervention is likely to have the most impact</li>
            <li>measure the extent of service transformation across government</li>
            <li>show the impact of service transformation</li>
            <li>find and share good practice in service design, operation and improvement</li>
        </ul>
      </p>

      <h1 class="heading-large">
        How does it work?
      </h1>

        <p>Each service publishes monthly data to the platform, according to an agreed set of metrics. This data is displayed as a 12-month aggregation on a page dedicated to that particular service, alongside contextual information about the service and its users. You can access the page to find out more about the service and how it's performing.</p>

        <p>You can also group services by government, delivery organisation or department, and sort by each metric to produce a ranking comparison of services.</p>

    <h1 class="heading-large">
      About the metrics
    </h1>
    <p>The metrics are designed to give a detailed picture about service performance. Here's some more information about each metric and what it's designed to measure:</p>

        <h1 class="heading-medium">Metric 1: transactions received</h1>

        <p>This metric has two parts:
            <ul class="list list-bullet">
              <li>total number of transactions received by the service</li>
              <li>transactions received split by channel</li>
            </ul>
        </p>

        <p>This metric tells you how much the service is used, and which channel - online, phone, paper, face-to-face or other - is used the most.</p>

        <p>You can use it to measure:
            <ul class="list list-bullet">
              <li>overall demand for the service</li>
              <li>demand for each channel the service offers</li>
            </ul>
        </p>

        <h1 class="heading-medium">Metric 2: transactions processed</h1>

        <p>This metric shows the:
            <ul class="list list-bullet">
              <li>total number of transactions processed by the service</li>
              <li>number and percentage of the above that were processed with the user’s intended outcome</li>
            </ul>
        </p>

        <p>You can use it to measure how well the service is meeting its users’ needs.</p>

        <h1 class="heading-medium">Metric 3: calls received</h1>

        <p>This metric shows the:
            <ul class="list list-bullet">
              <li>total number of calls received by the service</li>
              <li>calls received split by reason for calling</li>
            </ul>
        </p>

        <p>You can use it to measure how well the service is designed for users - can they use the service quickly and easily to get what they need, or do they have to call the service to find out what to do?</p>

        <h1 class="heading-medium">The reporting period</h1>

        <h1 class="heading-medium">How to use the comparison function</h1>

        <p>You can compare the performance of all services on a particular metric by using the ‘sort’ function at the top of the ‘Services’ page. Sort by any metric to see how services rank for that metric.</p>

        <p>You can also compare the performance of services within and across departments, delivery organisations and government.</p>

        <p>Note: in private beta, we’re displaying data from 32 services. We’re working with departments and other delivery organisations to increase that number, so you’ll see more services coming online in the next few months.</p>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Roadmap
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <p>In public beta we’ll be exploring the possibility of adding the following metrics, to give a fuller picture of service performance:
        <ul class="list list-bullet">
          <li>Casework</li>
          <li>Cost</li>
          <li>Processing time</li>
          <li>Emails received</li>
        </ul>
      </p>
    </div>
  </div>
</main>


