
<main id="content" class="service-manual" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          Publish data
        </span>
        <span class="page-name">
          Publishing data to Service Performance
        </span>
      </h1>
      <div class="metadata-header">
        <dl>
          <dt>Published by:</dt>
          <dd><a href="#">Service Performance team</a></dd>
          <br/>
          <dt>Last updated:</dt>
          <dd>25 October 2017</dd>
        </dl>
      </div>
    </div>
    <div class="column-third">
      <p class="feedback"><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Give feedback about this page</a></p>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-third js-stick-at-top-while-scrolling">
      <div class="sidebar">

        <h1 class="heading-small">Page contents</h1>
        <ul class="page-contents">
          <li>
            <a href="#what-is-service-performance" class="">What is Service Performance</a>
          </li>
          <li>
            <a href="#what-to-publish" class="">What do services need to publish</a>
          </li>
          <li>
            <a href="#support" class="">Support</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">

      <!-- Main content -->
      <div class="markdown">

        <h1 class="heading-large" id="what-is-service-performance">What is Service Performance?</h1>

        <p>
          Service Performance is a reporting platform that lets government measure the performance of transaction services.
        </p>

        <p>
          Its main users are civil servants working to transform services. The platform is designed to help these users understand:
        </p>
        <ul class="list list-bullet">
          <li>the demands faced by services - the volume of transactions they receive across different channels, and how often each channel is used and why</li>
          <li>how well services are meeting their users' needs</li>
          <li>how far the service has been digitised</li>
        </ul>

        <h2 class="heading-large" id="what-to-publish">
          What do services need to publish?

        </h2>
        <p>
          For the platform to function correctly, services need to publish their data to it. Data should be published every month; you’ll receive a reminder each time a new set of data is due, with a link to a webform where you can fill in your data.

        </p>

        <p>
          The data should be published according to the following set of metrics:
        </p>


        <h4 class="heading-small">Total number of transactions received</h4>
        <p>
          This KPI helps users gauge the overall demand for the service.
        </p>

        <h4 class="heading-small">Total number of transactions received, split by channel</h4>
        <p>
          This KPI helps users see which channels are used the most.
        </p>
        <p>Channels include:</p>
        <ul class="list-bullet">
          <li>online</li>
          <li>phone</li>
          <li>paper form</li>
          <li>face-to-face</li>
          <li>other</li>
        </ul>

        <h4 class="heading-small">Number of transactions processed</h4>
        <p>
          This KPI gives users an indication of how well the service is meeting users’ needs.
        </p>

        <h4 class="heading-small">Number of transactions processed with the user’s intended outcome</h4>
        <p>
          This KPI gives users more information about how well the service is meeting users’ needs.
        </p>

        <h4 class="heading-small">Total number of phone calls received</h4>
        <p>
          This KPI shows how much the service's contact centre is used.
        </p>

        <h4 class="heading-small">Number of phone calls received, split by reasons for calling</h4>
        <p>
          This KPI shows why calls are made and gives an indication of how the number of calls can be reduced.
        </p>
        <p>
        Reasons include:</p>
        <ul class="list-bullet">
          <li>to perform a transaction</li>
          <li>to get information</li>
          <li>to chase progress</li>
          <li>to challenge a decision</li>
          <li>other</li>
        </ul>

      </p>

        <h1 class="heading-large" id="support">Support</h1>
        <p>
          For help publishing data, please contact Uzo Ikegulu, Performance Analyst for Service Performance, at <a href="mailto:uzo.ikegulu@digital.cabinet-office.gov.uk?subject=Service performance publishing help">uzo.ikegulu@digital.cabinet-office.gov.uk</a>
        </p>


    </div>

  </div>
</div>
<div class="grid-row">
  <div class="footer-content">
    <div class="column-third">
      <p style="visibility:hidden;">a</p>
    </div>

    <div class="column-two-thirds">

      <div class="metadata-footer">
        <dl>
          <dt>Published by:</dt>
          <dd>
            <a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">
              Service Performance team
            </a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>

</main>
