<div class="m-metric-group-header">
  <h2 class="bold-medium"><%= link_to metric_group.name, view_data_delivery_organisation_metrics_path(metric_group.entity.key, group_by: Metrics::Group::Service) %></h2>
delivers <%= pluralize_link(metric_group.services_count, 'service', 'services', view_data_delivery_organisation_metrics_path(metric_group.entity.key, group_by: Metrics::Group::Service)) %>
</div>
