@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

dl {
  @include clearfix;
}

th {
  vertical-align: bottom;
}

.field-unit__radio_button {
  label {
    display: inline-block;
    font-weight: normal;
    margin-right: 40px;
  }
}