
@import "_grid_layout.scss";
@import "_conditionals.scss";
@import "_colours.scss";
@import "_css3.scss";
@import "_typography.scss";
@import "design-patterns/_buttons.scss";
@import "design-patterns/_alpha-beta.scss";
@import "design-patterns/_breadcrumbs.scss";

@import "elements/helpers";
@import "elements/reset";
@import "elements/layout";
@import "elements/elements-typography";
@import "elements/buttons";
@import "elements/lists";
@import "elements/details";
@import "elements/panels";
@import "elements/forms";
@import "elements/forms/form-date";
@import "elements/forms/form-validation";
@import "elements/forms/form-multiple-choice";
@import "elements/breadcrumbs";
@import "elements/phase-banner";
@import "elements/components";


@import "product-page-example/source/stylesheets/core";
@import "__assets";
@import "__service_manual";

* { @include box-sizing(border-box); }
main { display: block; }

fieldset {
  border: 0;
  padding: 0;
}

fieldset > h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.hero__body {
  padding-top: 30px;
}



@import "breadcrumbs";
@import "homepage";
@import "metadata";
@import "metrics";
@import "metric_group";
@import "metric_guidance";
@import "metrics_filter_panel";
@import "preview";
@import "service";
@import "tabs";
