.service-manual {
  .metadata-header {
    font-size: 14px;
  }
  .metadata-header dt {
    display: inline;
  }
  .metadata-header dd {
    display: inline;
  }
  .metadata-footer dd { margin-left: 0; margin-bottom: 10px;}
  .metadata-footer a {
    color: #005ea5;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
  }
  .sidebar ul {
    padding: 0;
    list-style-type: none;
  }
  .page-contents a, .sidebar .page-contents a {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
  }
  .sidebar .page-contents a:before {
    content: "–";
    margin-right: 6px;
  }
  .feedback {
    float: right;
  }
}
