.a-search-input {
  @include core-16;
  @include box-sizing(border-box);

  height: 36px;
  padding: 6px;

  border: 2px solid $black;
  border-radius: 0;
  -webkit-appearance: none;

  &.focus,
  &:focus {
    outline-offset: -3px;
  }
}

.a-apply-button {
  background-color: $black;
  border: 0;
  color: $white;
}

.m-sort-filter {
  display: flex;
  flex-wrap: wrap;
  flex: 2 0 0;
  width: 100%;

  /* this isn't super awesome */
  margin-right: 60px;

  label {
    order: 1;
  }

  .m-sort-order {
    order: 2;
    flex-grow: 1;
    text-align: right;

    label {
      &::after {
        content: ' | ';
      }

      &:last-child::after {
        content: none;
      }

      span {
        color: $govuk-blue;
        text-decoration: underline;
        cursor: pointer;
      }

      &.checked span {
        color: $black;
        text-decoration: none;
      }
    }
  }

  select {
    order: 3;
    width: 100%;
    display: block;
  }

  .a-apply-button {
    order: 4;
  }
}

.m-search-filter {
  display: block;
  position: relative;
  flex: 1 0 0;

  .a-search-input {
    margin-right: 0;
    z-index: 0;

    position: relative;
<<<<<<< HEAD
    width: 86%;
    width: calc(100% - 36px);
  }

  .a-search-button {
    margin-left: 0;
    z-index: 1;

    position: absolute;
    right: 0;
    bottom: 0;

    @include media(tablet) {
      bottom: 0;
    }
=======
    width: 100%;
>>>>>>> Remove search button
  }


}

.o-filter-panel {
  border-top: 1px solid $grey-2;
  padding-top: 20px;
  padding-bottom: 20px;

  form {
    padding: 0;
  }

  .a-apply-button {
    display: block;
  }
}

@media (min-width: 600px) {
  .o-filter-panel {

    form, .m-search-filter {
      display: inline-block;
      vertical-align: top;
    }

    form {
      width: 66%;
    }

    .m-search-filter {
      width: 33%;
    }
  }

  .m-sort-filter {
    display: inline;

    select {
      width: auto;
    }
  }

  .m-sort-order {
    display: inline-block;
  }
}
