.m-metric-guidance-toggle {
  display: block;
  height: 14px;
  width: 14px;
}

.a-metric-guidance-expand, .a-metric-guidance-collapse {
  display: block;
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  text-indent: -999em;
}

.a-metric-guidance-expand {
  background-image: url(image-path('icon-plus@2x.png'));
}

.a-metric-guidance-collapse {
  background-image: url(image-path('icon-minus@2x.png'));
}

.a-metric-guidance {
  margin: $gutter-one-third 0;
}