.m-metric-group {
  &> div { padding: $gutter-half; }

  .m-metric-group-header {
    margin-bottom: $gutter-half;
  }

  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.metric-value-not-provided {
  color: #888;
  font-weight: 700;
}

.not-applicable {
   font-size: 36px;
   margin-top: 0;
   margin-bottom: 0;
   color: #888;
   line-height: 1.1;
   font-weight: 700;
 }

 span.not-applicable-message {
   font-size: 16px;
   color: #666;
   margin-top: 0;
   line-height: 1;
 }

.m-metric-group__collapsible {
  padding-top: 17px !important;

  .m-metric-group-header {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: text-top;
    width: 50%;

    h2 {
      font-size: 19px;
      padding-right: $gutter-half;
      margin: 0;
    }
  }

  .m-metric-item-description {
    display: inline-block;
    vertical-align: text-top;
    width: 40%;
  }

  .m-metric-group-open-toggle {
    display: inline-block;
    vertical-align: text-top;
    width: 10%;
    text-align: right;
  }

}

.m-metric-group__expanded {
  border: 1px solid #BFC1C3;
  margin: $gutter-half 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.m-metric-group__collapsed {
  border: 1px solid #BFC1C3;
  margin-top: -1px;
  margin-bottom: 0;
}

.m-metric-group-close-toggle {
  display: inline-block;
  vertical-align: text-top;
  float: right;
}

.m-metric-group__totals {
  background-color: #EFF0F1;
}
