.a-search-input {
  @include core-16;
  @include box-sizing(border-box);

  height: 36px;
  padding: 6px;

  border: 2px solid $black;
  border-right: none;
  border-radius: 0;
  -webkit-appearance: none;

  &.focus,
  &:focus {
    outline-offset: -3px;
  }
}

.a-search-button {
  background-color: $black;
  background-image: image-url('icon-search-2.png');
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  text-indent: -5000px;

  @include border-radius(0);

  &:hover {
    cursor: pointer;
    background-color: lighten($black, 30%);
  }
}

.a-apply-button {
  background-color: $black;
  border: 0;
  color: $white;
}

.m-sort-filter {
  display: flex;
  flex-wrap: wrap;
  flex: 2 0 0;
  width: 100%;

  /* this isn't super awesome */
  margin-right: 60px;

  label {
    order: 1;
  }

  .m-sort-order {
    order: 2;
    flex-grow: 1;
    text-align: right;

    label {
      &::after {
        content: ' | ';
      }

      &:last-child::after {
        content: none;
      }

      span {
        color: $govuk-blue;
        text-decoration: underline;
        cursor: pointer;
      }

      &.checked span {
        color: $black;
        text-decoration: none;
      }
    }
  }

  select {
    order: 3;
    width: 100%;
  }

  .a-apply-button {
    order: 4;
  }
}

.m-search-filter {
  display: block;
  position: relative;
  flex: 1 0 0;

  .a-search-input {
    margin-right: 0;
    z-index: 0;

    position: relative;
    width: 86%;
    width: calc(100% - 36px);
  }

  .a-search-button {
    margin-left: 0;
    z-index: 1;

    position: absolute;
    right: 0;
    top: 0;
  }
}

.o-filter-panel {
  border-top: 1px solid $grey-2;
  padding: 10px 15px;


  form {
    padding: 0;
  }

  .m-sort-filter, .m-search-filter {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .a-apply-button {
    display: block;
  }
}

@media (min-width: 600px) {
  .o-filter-panel {
    form { display: flex; }
  }

  .m-sort-filter {
    display: inline;

    select {
      width: auto;
    }
  }

  .m-sort-order {
    display: inline-block;
  }

  .m-search-filter {
    flex-grow: 1;
  }
}
