.m-metric-guidance-toggle {
  display: block;
  height: 24px;
  width: 24px;
  position: relative;
  margin: auto;
  right: -6px;
}

.a-metric-guidance-expand, .a-metric-guidance-collapse {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  text-indent: -999em;
}

.a-metric-guidance-expand {
  background-image: url(image-path('icon-plus@2x.png'));
}

.a-metric-guidance-collapse {
  background-image: url(image-path('icon-minus@2x.png'));
}

.a-metric-guidance {
  margin: $gutter-one-third 0;
}