.m-metric-group {
  &> div { padding: $gutter-half; }

  .m-metric-group-header {
    margin-bottom: $gutter-half;
  }

  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.completeness {
  padding: 4px 8px;
  font-size: 16px;
  color: #141414;
  background-color: #DEE0E2;
  position: absolute;
  top: 0;
  right: 0;
}


.metric-value-not-provided {
  color: #6F777B;
}

.metric-text-grey {
  color: #6F777B;
  font-weight: 400;
}

.metric-subheading-grey {
  color: #6F777B;
  font-weight: 700;
}

.not-applicable,
.not-provided {
   font-size: 36px;
   margin-top: 0;
   margin-bottom: 0;
   color: #6F777B;
   line-height: 1.1;
   font-weight: 700;
 }

span.not-applicable-message,
span.not-provided-message {
  font-size: 16px;
  font-weight: 700;
  color: #6F777B;
  margin-top: 0;
  line-height: 1;
}

.m-metric-group__collapsible {
  padding-top: 17px !important;

  .m-metric-group-header {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: text-top;
    width: 50%;

    h2 {
      font-size: 19px;
      padding-right: $gutter-half;
      margin: 0;
    }
  }

  .m-metric-item-description {
    display: inline-block;
    vertical-align: text-top;
    width: 40%;
  }

  .m-metric-group-open-toggle {
    display: inline-block;
    vertical-align: text-top;
    width: 10%;
    text-align: right;
  }

}

.m-metric-group>div {
  position: relative;
}

.m-metric-group__expanded {
  border: 1px solid #BFC1C3;
  margin: $gutter-half 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .m-metric-group__expanded {
    h2 {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.m-metric-group__collapsed {
  border: 1px solid #BFC1C3;
  margin-top: -1px;
  margin-bottom: 0;
  .total-heading:after {
    content: attr(subheading);
    padding-left: 4px;
    font-weight: normal;
  }
}

.m-metric-group-close-toggle {
  display: inline-block;
  vertical-align: text-top;
  float: right;
  margin-top: 20px;
  width: 5%;
}

.m-metric-group__totals {
  background-color: #EFF0F1;
}

.m-time-period-selector {
  margin-bottom: $gutter;
}

.m-metric-group__preview {
  .metric-value-not-provided,
  .not-provided,
  .not-provided-message {
    color: rgb(177, 13, 29);
    font-weight: bold;
  }
}