/* preview banner */
.preview-banner {
  color: #fff;
  background-color: #005ea5;
  margin-top: -10px;
}

.preview-banner div {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0 5px;
}

.preview-banner div p {
  font-size: 19px;
}

.preview-banner div h1 {
  margin-bottom: 15px;
}

.preview-banner div a {
  color: #fff;
}
