
.service-context {
    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
    ul.list {
        padding-left: 0;
    }

    h2 {
      margin-bottom: 0;
      margin-top: 25px;
    }
}

.service-context-completeness {
    top: -50px;
}
