a.hero-button {
  margin-top: $gutter;
}

.homepage-image {
  height: 6em;
  margin-right: 16px;
  margin-top: 16px;
}

.shorter-homepage-image {
  height: 5.75em;
  margin-right: 16px;
  margin-top: 16px;
  vertical-align:bottom;
}
