// Show tables as horizontal bar charts


.table-chart {
  display: block;
  margin: 0 15px 45px;
  
  tr, td, th {
    border: none;
    padding-bottom: 10px;
    vertical-align: top;
    width: 50%;
  }

  th {
    padding-top: 0;
  }
  
}

.table-chart-number {
  @include core-19($tabular-numbers: true);
  display: inline-block;
  width: 18%;
  float: left;
  text-align:right;
  margin-right: 2%;
  font-weight: bold;

  @media (max-width: 640px) {
    width: 20%;
    margin-right: 5%;
    text-align: left;
  }
}
  
.table-chart-bar {
  width: 80%;
  float: left;
  display: inline-block;

  span {
    height: 1em;
    background-color: $secondary-text-colour;
    float: left;
    display: inline-block;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

}
