<div class="m-time-period-selector">
  Data for time period from <time datetime="<%= start_date %>"><%= start_date_string %></time> to <time datetime="<%= end_date %>"><%= end_date_string %></time>
</div>
