<main id="content" class="service-manual" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          Publish data
        </span>
        <span class="page-name">
          Calls received metric
        </span>
      </h1>
      <div class="metadata-header">
        <dl>
          <dt>Published by:</dt>
          <dd><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Service Performance team</a></dd>
          <br/>
          <dt>Last updated:</dt>
          <dd>27 March 2018</dd>
        </dl>
      </div>
    </div>
    <div class="column-third">
      <p class="feedback"><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Give feedback about this page</a></p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third js-stick-at-top-while-scrolling">
      <div class="sidebar">
        <h1 class="heading-small">Page contents</h1>
        <ul class="page-contents">
          <li>
            <a href="#overview" class="">Overview</a>
          </li>
          <li>
            <a href="#definitions" class="">Definitions</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">
      <!-- Main content -->
      <div class="markdown">
        <h1 class="heading-large" id="overview">Overview</h1>

        <p>
          For this metric, you need to provide information on:
        </p>

        <ul class="list list-bullet">
          <li>the total number of phone calls your service received during the reporting period</li>
          <li>the reasons why these calls were made</li>
        </ul>

        <h3 class="heading-medium">What to do when your calls aren’t handled in house</h3>

        <p>
          If your service doesn’t operate an in-house call centre, you’ll need to get you calls data from another part of your organisation or from an outsourced contact centre (depending on how calls are handled for your service).
        </p>

        <h2 class="heading-large" id="definitions">
          Definitions
        </h2>

        <h3 class="heading-medium">Calls received</h3>

        <p>
          'Calls received' means all phone calls made to the service for one of the 5 reasons listed below in ‘Reason for calling’.
        </p>
        <p>
          If a call gets transferred from one line to another, it should be counted as one call.
        </p>

        <h3 class="heading-medium">Reason for calling</h3>

        <p>
          This refers to the main reason the user called the service, even if they went on to discuss other subjects.
        </p>

        <p>
          Service Performance categorises reasons for calling into five categories:
          <ul class="list list-bullet">
            <li>to make a transaction (this should be the same number as for the transactions received by phone metric - see above)</li>
            <li>to get information by phone - for example, about something the user couldn’t find online, or to check eligibility for the service</li>
            <li>to chase progress</li>
            <li>to challenge a decision</li>
            <li>Other (for example, to get help using the service, check the user has done the right thing, tell service something is broken, wrong number)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="footer-content">
      <div class="column-third">
        <p style="visibility:hidden;">a</p>
      </div>
      <div class="column-two-thirds">
        <div class="metadata-footer">
          <dl>
            <dt>Published by:</dt>
            <dd>
              <a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">
                Service Performance team
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
