<main id="content" class="service-manual" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          Publish data
        </span>
        <span class="page-name">
          Transactions received metric
        </span>
      </h1>
      <div class="metadata-header">
        <dl>
          <dt>Published by:</dt>
          <dd><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Service Performance team</a></dd>
          <br/>
          <dt>Last updated:</dt>
          <dd>27 March 2018</dd>
        </dl>
      </div>
    </div>
    <div class="column-third">
      <p class="feedback"><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Give feedback about this page</a></p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third js-stick-at-top-while-scrolling">
      <div class="sidebar">
        <h1 class="heading-small">Page contents</h1>
        <ul class="page-contents">
          <li>
            <a href="#overview" class="">Overview</a>
          </li>
          <li>
            <a href="#definitions" class="">Definitions</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">
      <!-- Main content -->
      <div class="markdown">
        <h1 class="heading-large" id="overview">Overview</h1>

        <p>
          This metric measures:
        </p>

        <ul class="list list-bullet">
          <li>the total number of transactions received by the service during the reporting month</li>
          <li>how many of those transactions were received by each channel</li>
        </ul>

        <p>
          It’s designed to give Service Performance users an overview of how much the service is used, and which channels face the most demand.
        </p>

        <p>
          Channels include:
          <ul class="list list-bullet">
            <li>online</li>
            <li>phone</li>
            <li>paper</li>
            <li>face-to-face</li>
            <li>other</li>
          </ul>
        </p>

        <h2 class="heading-large" id="definitions">
          Definitions
        </h2>

        <h3 class="heading-medium">Transactions received</h3>

        <p>
          A transaction is received when the service has all the information it needs to start processing.
        </p>

        <h3 class="heading-medium">Receiving channel</h3>

        <p>
          The receiving channel is the main way the service receives the information it needs to start processing.
        </p>

        <h3 class="heading-medium">Online</h3>
        <p>
          'Online' covers all online services, including:
          <ul class="list list-bullet">
            <li>legacy services</li>
            <li>GOV.UK services</li>
            <li>non-GOV.UK services</li>
            <li>apps</li>
          </ul>
        </p>

        <h3 class="heading-medium">Phone</h3>
        <p>
          'Phone' means a phone call that takes place between a user and someone who works for the service.
        </p>

        <h3 class="heading-medium">Paper</h3>
        <p>
          'Paper' means paper forms used to initiate a transaction (e.g. application forms), plus supporting paper documents if required.
           Sometimes a user may send their application form and supporting documents separately; this is counted as one transaction.
        </p>

        <h3 class="heading-medium">Face-to-face</h3>
        <p>
          'Face-to-face' means an in-person interaction between a user and someone who works for the service.
           This includes instances where the service worker enters information on behalf of the user.
           It doesn’t include users handing in a paper form in person.
        </p>

        <h3 class="heading-medium">Other</h3>
        <p>
          'Other' covers anything that doesn’t fit into the existing channels, such as:
          <ul class="list list-bullet">
            <li>Calls where the user doesn’t talk to a person (such as calls using interactive voice recognition or answer machine software)</li>
            <li>email</li>
            <li>webchat</li>
            <li>online business-to-government exchanges</li>
          </ul>
          When classing a channel as ‘other’ for the first time, you’ll be asked to specify what this covers. Anything that falls into ‘other’ will be shown broken down when published.
        </p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="footer-content">
      <div class="column-third">
        <p style="visibility:hidden;">a</p>
      </div>
      <div class="column-two-thirds">
        <div class="metadata-footer">
          <dl>
            <dt>Published by:</dt>
            <dd>
              <a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">
                Service Performance team
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
