<main id="content" class="service-manual" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          Publish data
        </span>
        <span class="page-name">
          Transactions processed metric
        </span>
      </h1>
      <div class="metadata-header">
        <dl>
          <dt>Published by:</dt>
          <dd><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Service Performance team</a></dd>
          <br/>
          <dt>Last updated:</dt>
          <dd>27 March 2018</dd>
        </dl>
      </div>
    </div>
    <div class="column-third">
      <p class="feedback"><a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">Give feedback about this page</a></p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third js-stick-at-top-while-scrolling">
      <div class="sidebar">
        <h1 class="heading-small">Page contents</h1>
        <ul class="page-contents">
          <li>
            <a href="#overview" class="">Overview</a>
          </li>
          <li>
            <a href="#definitions" class="">Definitions</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">
      <!-- Main content -->
      <div class="markdown">
        <h1 class="heading-large" id="overview">Overview</h1>

        <p>
          This metric measures:
        </p>

        <ul class="list list-bullet">
          <li>the total number of transactions processed by the service during the reporting month</li>
          <li>the proportion of those transactions that were accepted</li>
        </ul>

        <h2 class="heading-large" id="definitions">
          Definitions
        </h2>

        <h3 class="heading-medium">Transactions processed</h3>

        <p>
          A transaction has been processed when either:
          <ul class="list list-bullet">
            <li>no more decisions can be made (for services where a decision is required)</li>
            <li>the user has finished what they set out to do</li>
          </ul>
        </p>

        <h3 class="heading-medium">Transactions accepted</h3>

        <p>
          A transaction has been accepted when an outcome (other than rejection) has been delivered.
        </p>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="footer-content">
      <div class="column-third">
        <p style="visibility:hidden;">a</p>
      </div>
      <div class="column-two-thirds">
        <div class="metadata-footer">
          <dl>
            <dt>Published by:</dt>
            <dd>
              <a href="mailto:performance-platform@digital.cabinet-office.gov.uk?subject=Service Manual feedback">
                Service Performance team
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
